node_modules
ios/RCTWebRTC.xcodeproj/xcuserdata
ios/RCTWebRTC.xcodeproj/project.xcworkspace
.DS_Store
.idea
android/build
android/.gradle
*.xcuserstate
android/build
android/.idea
android/.gradle
*.iml
*.jar
